{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sample Craft Plugin plugin for Craft CMS 3.x
 *
 * Sample Craft Plugin index.twig
 *
 * @author    Ryan Irelan
 * @copyright Copyright (c) 2020 Ryan Irelan
 * @link      https://craftquest.io
 * @package   SampleCraftPlugin
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("craftquest\\samplecraftplugin\\assetbundles\\samplecraftplugin\\SampleCraftPluginAsset") %}
{% do view.registerAssetBundle("craftquest\\samplecraftplugin\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/CraftQuest/sample-craft-plugin/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Sample Craft Plugin" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('sample-craft-plugin') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@craftquest/samplecraftplugin/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('sample-craft-plugin') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('sample-craft-plugin') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
